<footer id="footer">
	<p>Built using the <a href="https://www.petfinder.com/developers/api-docs">Petfinder API</a> by <a href="https://www.linkedin.com/in/michaelnweber/">Michael Weber</a> and <a href="https://www.linkedin.com/in/rynelaster/">Ryne Laster</a>. <span class="smiley">&#9786;</span> </p>
</footer>