<header>
	<nav class="nav-container">
		<ul class="left-aligned-header">
			<li> <a href="/">ooga</a> </li>
			<li> <a href="/">booga</a> </li>
			<li> <a href="/">googa</a> </li>
		</ul>
		<ul class="right-aligned-header">
			<li><a href="/users/login">Login</a></li>
			<li><a href="/users/registration">Register</a></li>
		</ul>
	</nav>
	<h1>find ur pets . com</h1>
</header>