<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Welcome to pet adoption central</title>
</head>
<body>
<header>

	<h1>header</h1>
	<ul>
		<li>link</li>
		<li>link</li>
		<li>link</li>
	</ul>
</header>

<body>
	<h2>this is the body</h2>
	<p>this is the paragraph of the body</p>
</body>

<footer>
	<p>this is the footer text</p>
</footer>

</body>
</html>