<!DOCTYPE html>
<html>
<head>
	<title>petfinder</title>
</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<body>

<h1>This is <span id="petHeader"></span>!</h1>

<div></div>




<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>