<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<% include ./partials/header.ejs%>

<div class="login-form">

<h1>Log in to save or view your saved pets!</h1>

	<p> <%= message %></p>

	<form action="/users/login" method="Post">
		<input type="text" name="username" placeholder="username"><br>
		<input type="password" name="password" placeholder="password"><br>
		<button>Login</button>
	</form>
</div>


<% include ./partials/footer.ejs %>


</body>
</html>