<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Refine your search</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<div id="all-container">	

	<% include ./partials/header.ejs %>

	<main id="body">

		<% include ./partials/location.ejs %>

		<div>
			<div class="pet-type">
				<a href="/search/cat">Cats</a> | <a href="/search/dog">Dogs</a> | <a href="/search">All animals</a><br> <a href="/shelter/search">By shelters</a>
			</div>
		</div>

	</main>
	
	<% include ./partials/footer.ejs %>

</div>


<script type="text/javascript" src="/js/showmap.js"></script>
</body>
</html>