<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Refine your search</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<% include ./partials/header.ejs %>

<% include ./partials/location.ejs %>

<main>
	<div class="pet-type">
		<a href="/search/cat">Cats</a> | <a href="/search/dog">Dogs</a> | <a href="/search">All Animals</a>
	</div>
</main>


<% include ./partials/footer.ejs %>

</body>
</html>