<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Register Your Account</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<div id="all-container">

	<% include ./partials/header.ejs%>

	<main id="body">

		<div class="register-form">

		<h1>Register to be able to save a pets' profile!</h1>

			<form action="/users/registration" method="post">
				<input type="text" placeholder="Username" name="username"><br>
				<input type="password" placeholder="password" name="password"><br>
				<button>Register</button>

			</form>

		</div>

	</main>

	<% include ./partials/footer.ejs %>

</div>

</body>
</html>