<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Saved Pets</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo|Mogra" rel="stylesheet">
</head>
<body>

<div id="all-container">

	<% include ./partials/header.ejs %>

	<main id="body">

		<h1>ur pets are saved here at some point</h1>

	</main>

	<% include ./partials/footer.ejs%>

</div>

</body>
</html>