<!DOCTYPE html>
<html>
<head>
	<title>show pet</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>


<div class="show-pet-container">
	<div class="detail-container">
		<div id="picture-container">
			<img id="picture" src="<%= data.petfinder.pet.media.photos.photo[0].$t %>">
		</div>
		<div id="name-description-container">
			<div id="name"></div>
			<div id="description"></div>
		</div>
	</div>
	<div class="detail-container">
		last update: <div id="last-updated"></div>
		<div id="age"></div>
		<div id="species"></div>
		<div id="breed"></div>
		<div id="gender"></div>
	</div>
	<div class="detail-container">
		<div id="contact">
		</div>
	</div>		
</div>




</body>
</html>