<!DOCTYPE html>
<html>
<head>
	<title>Shelter</title>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
</head>
<body>

<div>
	shelter view
</div>



<script type="text/javascript" src="/js/showShelter.js"></script>
</body>
</html>