/** {
	border: 1px solid black;
}*/
html {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Boogaloo', cursive;
	background-color: #FFEEF2;
	height: 100%;
}
a:link {
	color: #744359;
}
button {
	padding: 0.5em;
	font-size: 1em;
	font-family: 'Georgia';
}
input {
	font-family: 'Georgia';
}
.hidden {
	display: none;
}


/* home.ejs */
.splash-container {
	z-index: -1;
	height: 400px;
	display: flex;
	justify-content: center;
	background-color: rgba(255,255,255,0.6)
}
.splash-container-bg {
	z-index: 1;
	background-size: contain;
}
.image-overlay {
	height: 100%;
}
.animal-options {
	font-size: 32px;
	padding: 10px;
	border-radius: 20px;
	background-color: peachpuff;
	position: absolute;
	top: 380px;
	left: 585px;
	display: flex;
	justify-content: space-between;
	width: 250px;
}
.randomized-pet {
	text-align: center;
}
.home-search {
	margin: 0 auto;
	text-align: center;
/*	height: 300px;
	background-image: url(../img/dogandowner.jpg);*/
	background-color: #FFC8FB;
	background-size: cover;
	padding: 1px 0px 20px 0px;
}
.home-search input {
	width: 180px;
	height: 30px;
	font-size: 1em;
	margin-bottom: 10px;
}

/* refine */
.pet-type {
	margin: 0 auto;
	text-align: center;
	font-size: 48px;
	margin-top: 200px;
	padding: 20px;
	background-color: white;
	width: 500px;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

/* search */
.search-form {
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	width: 700px;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: white;
	padding: 5px 0px 30px 0px;
}
.search-form button {
	margin-top: 10px;
}

/* results */
.prev-next-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
}
.results-button {
	margin: 0px 10px 0px 10px;
	width: 70px;
}
.results-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 650px;
	width: 1000px;
	overflow-y: scroll;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
	background-color: white;
}
.results {
	display: flex;
	justify-content: flex-start;
	width: 462px;
	margin: 20px 10px 0px 10px;
	border: 1px solid black;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
	text-decoration: none;
}
.results-detail {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;
	margin-left: 5px;
	font-family: 'Georgia';
	font-size: 14px;
}
.result-thumb {
	height: 150px;
}
.result-thumb img {
	height: 100%;
}
.results-name {
	font-size: 40px;
	font-family: 'Boogaloo', cursive;
	text-decoration: underline;
}
.result-search {
	padding: 1px;
	margin: 0 auto;
	text-align: center;
	background-color: #FFC8FB;
}
.change-view {
	font-size: 42px;
	margin: 0px 10px 0px 10px;
	margin-top: 40px;
}
.no-results {
	font-size: 32px;
	margin: 50px;
}

/* shelter results */
.shelter-results-container {
	margin: 0 auto;
	margin-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: 650px;
	width: 1000px;
	overflow-y: scroll;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
	background-color: white;
}
.shelter-result {
	border: 1px black solid;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 75px;
	width: 475px;
	margin: 20px 10px 0px 10px;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
	text-decoration: none;
}
.shelter-detail-info {
	display: flex;
	justify-content: space-between;
	font-family: 'Georgia';
	height: 40px;
	border-top: 1px solid black;
	margin: 5px;
}
.shelter-name {
	font-size: 28px;
	margin-left: 5px;
}
.shelter-contact-info {
	font-size: 12px;
}


/* login */
.login-form {
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	width: 500px;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: white;
	padding: 5px 0px 20px 0px;
}
.login-form input {
	margin-bottom: 5px;
}

/* register */
.register-form {
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	width: 500px;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	background-color: white;
	padding: 5px 0px 20px 0px;
}
.register-form input {
	margin-bottom: 5px;
}

/*Show Pets Page */
.pets-page-container {
	/*display: flex;*/
	/*flex-wrap: wrap;*/
	height: 600px;
	width: 800px;
	overflow-y: scroll;
	box-shadow: 1px 1px 7px;
	background-color: white;
	/*justify-content: flex-start;*/
	margin-left: auto; 
	margin-right: auto;
}

.pet-detail-container{
	display: inline-block;
	width: 400px;
}

.pet-photos-container {
	/*vertical-align: top;*/
	display: inline-block;
	height: 275px;
	width: 390px; 
	text-align: center;

}
.pet-photos-container img {
	max-width: 100%;
	height: auto;
	max-height: 100%;
	vertical-align: top;
}

#pet-info-container{
	padding: 10px;
}

#pet-contact-container {
	vertical-align: top;
	display: inline-block;
	width: 380px;
	padding: 10px;	
}

.hidden {
	display: none;
}


/* show shelter page */
.shelter-container {
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin: 0 auto;
	margin-top: 20px;
	width: 1000px;
	display: flex;
	justify-content: flex-start;
	box-shadow: 1px 1px 7px;
	background-image: url('../img/resultsbg.jpg');
}
#map {
	height: 500px;
	width: 500px;
}
.shelter-display {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 495px;
}
.shelter-view-name {
	font-size: 52px;
	line-height: 90%;
	margin: 2px;
}
.shelter-view-address {
	font-family: 'Georgia';
	font-size: 18px;
	margin: 2px;
	border-top: 1px black solid;
}
.shelter-view-contact {
	font-family: 'Georgia';
	font-size: 18px;
	margin: 2px;
	border-top: 1px black solid;
	border-bottom: 1px black solid;
}
.show-a-pet-title {
	text-align: center;
	font-size: 24px;
}
.show-these-pets {
	box-shadow: 1px 1px 7px;
	height: 270px;
	width: 470px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-y: scroll;
	margin-left: 15px;
	margin-bottom: 15px;
}
.show-a-pet-results {
	border: 1px solid black;
	display: flex;
	justify-content: flex-start;
	width: 430px;
	margin: 20px 10px 0px 20px;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
	text-decoration: none;
}
.show-a-pet-detail {
	margin-left: 5px;
	font-family: 'Georgia';
	font-size: 14px;
}
.show-a-pet-image {
	height: 100px;
}
.show-a-pet-image img {
	height: 100%;
}
.show-a-pet-name {
	font-family: 'Boogaloo', cursive;
	font-size: 32px;
	text-decoration: underline;
}


/* saved pets view */
.saved-pet-container {
	margin: 0 auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 550px;
	width: 1000px;
	overflow-y: scroll;
	box-shadow: 1px 1px 7px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding-bottom: 20px;
	background-color: white;
}
.saved-pet {
	display: flex;
	justify-content: flex-start;
	width: 462px;
	height: 150px;
	margin: 20px 10px 0px 10px;
	border: 1px solid black;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
	text-decoration: none;
}
.saved-pic {
	height: 150px;
}
.saved-pic img {
	height: 100%;
}
.saved-info-top {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.saved-info {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;
	margin-left: 5px;
	font-family: 'Georgia';
	font-size: 14px;
}
.saved-name {
	font-size: 40px;
	font-family: 'Boogaloo', cursive;
	text-decoration: underline;
}
.delete-saved {
	margin: 5px;
}


/* header */
#header {
	padding-top: 10px;
	margin-bottom: 10px;
}
nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
} 
h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 1px;
}
h1 a {
	text-decoration: none;
	color: black;
}
h1 a:hover {
	text-decoration: underline;
}
.nav-container {
	display: flex;
	justify-content: space-between;
}
.left-aligned-header li {
	margin-left: 20px;
}
.right-aligned-header li {
	margin-right: 20px;
}


/* all container for footer to work */
#all-container {
	min-height: 100%;
   	position: relative;
}


/* footer */
#footer {
	text-align: center;
	background-color: #FFC8FB;
	padding: 1px;
	position:absolute;
  	bottom: 0;
  	height: 50px;
  	width: 100%;
  	font-family: 'Georgia';
  	font-size: 12px;
}
.smiley {
	font-size: 18px;
}


/* body */
#body {
	padding-bottom: 60px;
}


#pet-listings {
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 600px;

}
.listings {
	margin: 10px;
	text-align: center;
}