/** {
	border: 1px solid black;
}*/
html {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Boogaloo', cursive;
	background-color: #FFEEF2;
	height: 100%;
}
a:link {
	color: #A35D7C;
}
button {
	padding: 0.5em;
	font-size: 1em;
	font-family: 'Georgia';
}
input {
	font-family: 'Georgia';
}
.hidden {
	display: none;
}


/* home.ejs */
.splash-container {
	z-index: -1;
	height: 400px;
	display: flex;
	justify-content: center;
	background-color: rgba(255,255,255,0.6)
}
.splash-container-bg {
	z-index: 1;
	background-size: contain;
}
.image-overlay {
	height: 100%;
}
.animal-options {
	font-size: 32px;
	padding: 10px;
	border-radius: 20px;
	background-color: peachpuff;
	position: absolute;
	top: 380px;
	left: 585px;
	display: flex;
	justify-content: space-between;
	width: 250px;
}
.randomized-pet {
	text-align: center;
}
.home-search {
	margin: 0 auto;
	text-align: center;
/*	height: 300px;
	background-image: url(../img/dogandowner.jpg);*/
	background-color: #FFC8FB;
	background-size: cover;
	padding: 1px 0px 20px 0px;
}
.home-search input {
	width: 180px;
	height: 30px;
	font-size: 1em;
	margin-bottom: 10px;
}

/* refine */
.pet-type {
	margin: 0 auto;
	text-align: center;
	font-size: 48px;
	margin-top: 200px;
	padding: 20px;
	background-color: white;
	width: 500px;
	box-shadow: 1px 1px 7px;
}

/* search */
.search-form {
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	width: 700px;
	box-shadow: 1px 1px 7px;
	background-color: white;
	padding: 5px 0px 30px 0px;
}
.search-form button {
	margin-top: 10px;
}

/* results */
.prev-next-container {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 10px;
}
.results-button {
	margin: 0px 10px 0px 10px;
	width: 70px;
}
.results-container {
	display: flex;
	flex-wrap: wrap;
	height: 650px;
	width: 1000px;
	overflow-y: scroll;
	box-shadow: 1px 1px 7px;
	padding-bottom: 20px;
	background-color: white;
}
.results {
	display: flex;
	justify-content: flex-start;
	width: 462px;
	margin: 20px 10px 0px 20px;
	border: 1px solid black;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
	text-decoration: none;
}
.results-detail {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow: hidden;
	margin-left: 5px;
	font-family: 'Georgia';
	font-size: 14px;
}
.result-thumb {
	height: 150px;
}
.result-thumb img {
	height: 100%;
}
.results-name {
	font-size: 40px;
	font-family: 'Boogaloo', cursive;
	text-decoration: underline;
}
.result-search {
	padding: 1px;
	margin: 0 auto;
	text-align: center;
	background-color: #FFC8FB;
}
.change-results {
	display: flex;
	justify-content: space-between;
	width: 462px;
	height: 150px;
	margin: 20px 10px 0px 20px;
	border: 1px solid black;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
	text-decoration: none;
}
.change-view {
	font-size: 42px;
	margin: 0px 10px 0px 10px;
	margin-top: 40px;
}
.no-results {
	font-size: 32px;
	margin: 50px;
}


/* login */
.login-form {
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	width: 500px;
	box-shadow: 1px 1px 7px;
	background-color: white;
	padding: 5px 0px 20px 0px;
}
.login-form input {
	margin-bottom: 5px;
}

/* register */
.register-form {
	margin: 0 auto;
	margin-top: 200px;
	text-align: center;
	width: 500px;
	box-shadow: 1px 1px 7px;
	background-color: white;
	padding: 5px 0px 20px 0px;
}
.register-form input {
	margin-bottom: 5px;
}

/*Show Pets Page */
.pets-page {

}

.pet-photos-container {

}

.pets-info-container{

}

.pets-contact-container {

}

.hidden {
	display: none;
}



/* header */
#header {
	padding-top: 10px;
	margin-bottom: 10px;
}
nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
} 
h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 1px;
}
h1 a {
	text-decoration: none;
	color: black;
}
h1 a:hover {
	text-decoration: underline;
}
.nav-container {
	display: flex;
	justify-content: space-between;
}
.left-aligned-header li {
	margin-left: 20px;
}
.right-aligned-header li {
	margin-right: 20px;
}


/* all container for footer to work */
#all-container {
	min-height: 100%;
   	position: relative;
}


/* footer */
#footer {
	text-align: center;
	background-color: #FFC8FB;
	padding: 1px;
	position:absolute;
  	bottom: 0;
  	height: 50px;
  	width: 100%;
  	font-family: 'Georgia';
  	font-size: 12px;
}
.smiley {
	font-size: 18px;
}


/* body */
#body {
	padding-bottom: 60px;
}


#pet-listings {
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 600px;

}
.listings {
	margin: 10px;
	text-align: center;
}