* {
	border: 1px solid black;
}
body {
	margin: 0;
}

/* home.ejs */
/* header */
nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
} 
h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 1px;
}
.nav-container {
	display: flex;
	justify-content: space-between;
}
.left-aligned-header li {
	margin-left: 20px;
}
.right-aligned-header li {
	margin-right: 20px;
}

/* main */
.splash-container {
	z-index: -1;
	height: 400px;
	display: flex;
	justify-content: center;
	background-color: rgba(255,255,255,0.6)
}
.splash-container-bg {
	z-index: 1;
	background-size: initial;
}
.button-overlay {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	width: 500px;
	background-size: contain;	
	background-color: black;
}
.find-button-container {
	display: flex;
	justify-content: space-between;
}
.splash-button {
	margin: 20px;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	background-color: lightseagreen;
}
.randomized-pet {
	text-align: center;
}





#pet-listings {
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 600px;

}
.listings {
	margin: 10px;
	text-align: center;
}