/** {
	border: 1px solid black;
}*/
body {
	margin: 0;
	font-family: 'Boogaloo', cursive;
	background-color: #FFEEF2;
}
a:link {
	color: #A35D7C;
}
button {
	padding: 0.5em;
	font-size: 1em;
}


/* home.ejs */
.splash-container {
	z-index: -1;
	height: 400px;
	display: flex;
	justify-content: center;
	background-color: rgba(255,255,255,0.6)
}
.splash-container-bg {
	z-index: 1;
	background-size: contain;
}
.image-overlay {
	height: 100%;
}
.animal-options {
	font-size: 32px;
	padding: 10px;
	border-radius: 20px;
	background-color: peachpuff;
	position: absolute;
	top: 380px;
	left: 585px;
	display: flex;
	justify-content: space-between;
	width: 250px;
}
.randomized-pet {
	text-align: center;
}
.home-search {
	margin: 0 auto;
	text-align: center;
	background-color: #FFC8FB;
	padding: 5px 0px 20px 0px;
	font-size: 18px;
}
.home-search input {
	width: 190px;
	height: 30px;
	font-size: 1em;
	margin-bottom: 10px;
}

/* refine */
.pet-type {
	text-align: center;
	font-size: 48px;
	/*border: 1px solid black;*/
	margin-top: 50px;
	padding: 20px;
	background-color: #FFC8FB;
}

/* search */
.search-form {
	margin: 0 auto;
	text-align: center;
}
.search-form button {
	margin-top: 10px;
}

/* results */
.results-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-top: 10px;
	height: 640px;
	width: 1000px;
	overflow-y: scroll;
	box-shadow: 1px 1px 7px;
	padding-bottom: 20px;
	background-color: white;
}
.results {
	display: flex;
	justify-content: flex-start;
	width: 462px;
	margin: 20px 10px 0px 20px;
	border: 1px solid black;
	background-image: url('../img/resultsbg.jpg');
	background-size: cover;
	color: black;
}
.results-detail {
	display: flex;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
	text-decoration: underline;
	margin-left: 5px;
}
.result-thumb {
	height: 150px;
}
.result-thumb img {
	height: 100%;
}
.results-name {
	font-size: 46px;
}

/*Show Pets Page */
.pets-page {

}

.pet-photos-container {

}

.pets-info-container{

}

.pets-contact-container {

}

.hidden {
	display: none;
}



/* header */
#header {
	padding-top: 10px;
	margin-bottom: 10px;
}
nav ul {
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
} 
h1 {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 1px;
}
h1 a {
	text-decoration: none;
	color: black;
}
h1 a:hover {
	text-decoration: underline;
}
.nav-container {
	display: flex;
	justify-content: space-between;
}
.left-aligned-header li {
	margin-left: 20px;
}
.right-aligned-header li {
	margin-right: 20px;
}

/* footer */
#footer {
	text-align: center;
	height: 60px;
	background-color: #FFC8FB;
	padding-top: 10px;
	position:absolute;
  	bottom: 0;
  	width: 100%;
}


#pet-listings {
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 600px;

}
.listings {
	margin: 10px;
	text-align: center;
}